*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #7A1CF1 50%,#000000 );
} 

.container{
    height: 450px;
    width: 330px;
    background: #A768F7;
    border-radius: 5px;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto;
}

#input {
    background: #D1ADFF;    ;
    height: 50px;
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    padding:0 10px;
    margin: 15px 0;    
}

#input::placeholder{
    color: #000000;
}

ul li{
    text-decoration: none;
    background: #e4dbdb;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}

ul .fa-check{
    right: 40px;
    color: rgb(157, 224, 48);
}

ul .fa-trash{
    right: 15px;
    color: #ec1515;
}

ul .checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}